name: CI

on:
  push:
    branches:
      - 'master'
  workflow_dispatch:

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and not push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: hegistvan/dart-sass-container:latest
      -
        name: Build and push Docker images
        uses: docker/build-push-action@v2.3.0
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
  # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: ls -lhaR

      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
      #  run: ./update-tags.sh
