name: Build and Depploy

on:
  push:
    branches:
      - 'master'
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v2.4.0
        with:
          push: true
          tags: hegistvan/dart-sass:latest
      -
        name: push README to Dockerhub
        uses: christian-korneck/update-container-description-action@v1
        env:
          DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKERHUB_TOKEN }}
        with:
          destination_container_repo: hegistvan/dart-sass
          provider: dockerhub
          short_description: 'my short description'
          readme_file: '/github/workspace/README.md'
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
  # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: ls -lhaR

      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
      #  run: ./update-tags.sh
